.upper-navbar {
  background-color: #2c0e3a;
  height: 18vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.match-logo-image {
  width: 25%;
}
.score-container {
  display: flex;
  align-items: center;
}
.score-paragraph {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
}
.Score {
  font-family: 'Roboto';
  font-size: 20px;
  color: #fec653;
}
.timer {
  width: 3vw;
  margin-left: 20px;
}
